.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-titile{
    position: relative;
}

.about-titile h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-sectionst{
    display: flex;
    gap: 80px;
}

.about-left img{
    width: 500px;
    border-radius: 30px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.about-skills{
display: flex;
flex-direction: column;
gap: 20px;
}

.about-skill{
display: flex;
gap: 50px;
align-items: center;
transition: 0.3s;
}

.about-skill p{
min-width: 150px;
font-size: 24px;
font-weight: 500;
}


.about-skill hr{
    outline: none;
    border: none;
    width: 6%;
    height: 15px;
    border-radius: 50px;
    background:linear-gradient(264deg,#0ef -5.09%,#1576ff 106.28%);
}
