.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.navbar img{
    width: 50px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style : none;
    gap: 60px;
    font-size : 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,#0ef 0.36%,#1576ff 102.06%);
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
}